._*
.DS_Store
.yardoc
/cache
/config
coverage
doc
heckling
pkg
specdoc
wiki
.google-api.yaml
/spec/fixtures/mauth.yml
/spec/fixtures/euresource.rb
/spec/fixtures/euresource.rb.dice
/columbo
.bundle/
.idea/

Gemfile.lock
